<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Get your AppSID and AppKey at https://dashboard.groupdocs.cloud (free registration is required). -->
    <add key="AppSID" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" />
    <add key="AppKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
    <add key="ApiBaseUrl" value="http://api.groupdocs.cloud" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>